body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

h2 {
    color: #4CAF50;
}

section {
    padding: 20px;
    margin: 20px;
}

ul {
    list-style-type: none;
}

ul li {
    background: #ddd;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
